<div class="container">
<ul class="collection with-header">
        <li class="collection-item">
        	<div> <span class="fontSize17">All Statuses</span>
						<%= link_to new_status_path(@status) do %>
	        		<i class="material-icons amber-text text-darken-1 secondary-content">
	        			library_add
	        		</i>
						<% end %>
        	</div>
        </li>
  <% @statuses.each do |s|%>
	<li class="collection-item">
	  <div><%= link_to s.category, status_path(s)%>
	    <span class="secondary-content">
			<%= s.color %>
			</span>
	  </div>
	</li>
	<% end %>
</ul>
</div>