<div class="container">
	<ul class="collection with-header">
        <li class="collection-item">
        	<div> <span class="fontSize17">All Users</span>
						<%= link_to new_user_path(@user) do %>
	        		<i class="material-icons amber-text text-darken-1 secondary-content">
	        			library_add
	        		</i>
						<% end %>
        	</div>
        </li>
	    <% @users.each do |u|%>
		  <li class="collection-item">
		    <div><%= link_to u.first_name, user_path(u)%> <%= link_to u.last_name, user_path(u)%>
		    <span class="secondary-content">
					<%= u.role %>
				</span>
		    </div>
			</li>
		<% end %>
	</ul>
</div>