<div class="container">
  

     <ul class="collection with-header">
        <li class="collection-item">
        	<div> <span class="fontSize17">All Boxes</span>
						<%= link_to new_toy_path(@toy) do %>
	        		<i class="material-icons amber-text text-darken-1 secondary-content">
	        			library_add
	        		</i>
						<% end %>
        	</div>
        </li>

    		<% @boxes.each do |b|%>
	        <li class="collection-item">
	        	<div><%= link_to b.name, box_path(b)%>
	        		<span class="secondary-content">
								<%= b.age_group.age %>
							</span>
	        	</div>
	        </li>
	      <% end %>
      </ul>
      </div>