<div class="container">
<ul class="collection with-header">
        <li class="collection-item">
        	<div> <span class="fontSize17">All Age Groups</span>
						<%= link_to new_age_group_path(@age_group) do %>
	        		<i class="material-icons amber-text text-darken-1 secondary-content">
	        			library_add
	        		</i>
						<% end %>
        	</div>
        </li>
  <% @age_groups.each do |a|%>
	<li class="collection-item">
	  <div><%= link_to a.age, location_path(a)%>
	    <span class="secondary-content">
			<%= a.color %>
			</span>
	  </div>
	</li>
	<% end %>
</ul>
</div>