/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/** {
	outline: 1px solid purple;
}*/


.container .row {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 15px;
}

nav .brand-logo {
	font-size: 1.6rem;
}
/* TLL on pages that are not the home page
element.style {
    height: 90px;
    positioN: relative;
    bottom: 30px;
*/

.light-italic {
	font-weight: 300;
	font-style: italic;
}

.collection .collection-item {
	background-color: rgba(255,255,255,.2);
}

.fontSize12 {
	font-size: 12px;
}
.fontSize17 {
	font-size: 18px;
}
.collection .collection-item.avatar {
  min-height: 70px;
}

.card .card-title {
	font-size: 36px;
}
.google-maps {
    position: relative;
    padding-bottom: 125%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
@media screen and (min-width: 600px){
    .google-maps {
        padding-bottom: 75%;
    }
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.toy-image-show {
    background-color: #fff;
}

.margin0 {
    margin: 0;
}

.imgfifth {
    width: 20%;
    height: 20%;
}

.img120x120 {
    margin-top: 8px;
    height: 120px;
}
.img150x150 {
    margin-top: 10px;
    height: 150px;
}

.inlineBlock {
    display: inline-block;
}

.blackBorder {
    margin-top: 10.5px;
    border:1px solid black;
}
.smToyRow {
    height: 215px;
}

.maxwidth25 {
    max-width: 25%;
}

.smLabel {
    padding:10px;
    margin:10px;
}

.medLabel {
    padding-bottom: 0 !important;
}

.height42 {
    height: 42px;
}

.medSectionToys{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10.5px !important;
}