<ul class="collection with-header">
  <li class="collection-header"><h4>All Locations</h4></li>
  <% @locations.each do |l|%>
	<li class="collection-item">
	  <div><%= link_to l.branch_name, location_path(l)%>
	    <span class="secondary-content">
			<%= l.contact_name %>
			</span>
	  </div>
	</li>
	<% end %>
</ul>